
body{
    background-color: #141c2f;
    
    
}
.container1{
    background-color: rgb(1, 30, 34);
    width: 100%;
    height: 750px;
    
     display: flex;
     justify-content: center;
     overflow-x: hidden;
}

.container{
    width: 100%;
   height: 750px;
   
    display: flex;
    justify-content: center;
    overflow-x: hidden;
    /* padding: 200px 100px 100px 200px; */
}
.main_div{
   margin: auto;
    width: 60%;
    height: 700px;
    
}
svg{
    fill: white;
}

.main_input1{
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.uppertext{
    width: 13%;
}
.uppertext2{
    display: flex;
   justify-content: space-between;
    align-items: center;

}
.uppertext2 img{
    height: 20px;
    width: 20px;
    color: white;
}
.input_button1{
    display: flex;
    background-color: #080800;
    width: 100%;
    height: 55px;
    border-radius: 10px;
}
.input_button{
    display: flex;
    background-color: #1f2a48;
    width: 100%;
    height: 55px;
    border-radius: 10px;
    
}
.input_button svg{
  fill: blue;
  margin: 15px 25px;
  width: 30px;
  height: 30px;
    
}
.input_button1 input{
    margin-top: 5px;
    margin-left: 5%;
    width: 70%;
    height: 45px;
    background-color: #080800;
    color: white;
    outline: none;
  border: none;
  font-size: 20px;
}
.input_button input{
    margin-top: 5px;
    margin-left: 5%;
    width: 70%;
    height: 45px;
    background-color: #1f2a48;
    color: white;
    outline: none;
  border: none;
  font-size: 20px;
  
}
.input_button input::placeholder{
    color: white;
}
.input_button1 button{
    margin-top: 9px;
    margin-right: 5%;
    height: 35px;
    width: 13%;
    border-radius: 10px;
    background-color: rgb(49, 49, 48);
    border: none;
    color: white;
}

.input_button button{
    margin-top: 9px;
    margin-right: 5%;
    height: 35px;
    width: 13%;
    border-radius: 10px;
    background-color: #0374f8;
    border: none;
    color: white;
    
}
.main_output_one{
    width: 100%;
    height: 550px;
    background-color: #080800;
    margin-top: 15px;   
    border-radius: 10px;
}

.main_output{
    width: 100%;
    height: 550px;
    background-color: #1f2a48;
    margin-top: 15px;   
    border-radius: 10px;
}
.main_output1{
    display: flex;
    flex-direction: column;
}
.output1{
    width: 100%;
    height: 145px;
   
    display: flex;
    margin-top: 35px;

}
.output11{
  
    width: 30%;
    height: 150px;

}
.output11 img{
    width: 55%;
    height: 75%;
    border-radius: 100%;
}
.output12{
   
    width: 60%;
    height: 100px; 
    color: white;
}
.output121{
   
    height: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;

}
.output121 p{
    color: rgba(245, 245, 245, 0.596);
}
.output122{
   
    color: rgb(7, 7, 43);
   display: flex;
   justify-content: flex-start;
    
}
.output123{
    display: flex;
    justify-content: flex-start;
    color: rgba(245, 245, 245, 0.596);
}
.output2{
    display: flex;
}
.output22{
    width: 30%;
    height: 100px;
   
}
.output21{
    
    background-color: rgba(12, 12, 12, 0.534);
    border-radius: 20px;
    color: white;
    width: 50%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 15px 35px 25px 15px;
   

}
.output21 p{
    color: rgba(245, 245, 245, 0.596);
}
.output3{
    display: flex;
    height: 150px;
    color: white;
}
.output31{
    width: 30%;
    height: 150px;
   
}
.output32{
    width: 60%;
    height: 100px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 6px;
    margin-top: 10px;
   
    
    
}
.output32 div{
 
   display: flex;
    color: rgba(245, 245, 245, 0.596);
    align-items: center;
}
.output32 div p{
    margin-left: 15px;
}


@media (max-width:320px) {
    .main_input1{
        font-size: 10px;
    }
    .uppertext2{
        display: block;
    }
    .input_button input{
        width: 60%;
        height: 25px;
        font-size: 10px;
    }
    .input_button button{
        width: 15%;
        height: 25px;
        font-size: 10px;
    }
    .output121{
        font-size: 10px;
    }
    .output11 img{
        width: 55%;
        height: 55%;
        border-radius: 100%;
    }
    .output22{
        width: 0%;
        height: 0px;
    }
    .output21{
       
        font-size: 10px;
       
    }
    .output31{
        width: 0%;
        height: 0px;
    }
    .output32{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }
    
    
    
}
@media (max-width:600px) {
    .main_input1{
        font-size: 10px;
    }
    .uppertext2{
        display: block;
    }
    .input_button input{
        width: 80%;
        height: 35px;
        font-size: 15px;
    }
    .input_button button{
        width: 25%;
        height: 35px;
        font-size: 10px;
    }
    .output121{
        font-size: 10px;
    }
    .output11 img{
        width: 55%;
        height: 40%;
        border-radius: 100%;
    }
    .output22{
        width: 0%;
        height: 0px;
    }
    .output21{
        width: 100%;
        font-size: 10px;
    }
    .output31{
        width: 0%;
        height: 0px;
    }
    .output32{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }
    
}
@media (max-width:900px) {
    .input_button input{
        width: 80%;
        height: 45px;
    }
    .input_button button{
        height: 45px;
    }
    .output121{
        font-size: 10px;
    }
    .output22{
        width: 0%;
        height: 0px;
    }
    .output21{
        width: 90%;
    }
    .output31{
        width: 0%;
        height: 0px;
    }
    .output32{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }
}